name: Build for Mac
on: [push]
jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - run: pip install pandas docxtpl requests openpyxl pyinstaller
      - run: pyinstaller --onefile --windowed --name "Military_App" main.py
      - uses: actions/upload-artifact@v3
        with:
          name: Mac_Program
          path: dist/Military_App.app
